* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5efe7;
    color: #3d2b22;
}

/* NAVBAR */

.navbar {
    background: #3d2b22;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    gap: 25px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu a:hover {
    color: #d6a77a;
}


/* HOME */

.home {
    min-height: 75vh;
    padding: 70px 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.home-text {
    max-width: 600px;
}

.small-title {
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.home h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.home h1 span {
    color: #9b6b45;
}

.home-text > p:not(.small-title) {
    line-height: 1.8;
    margin-bottom: 25px;
}

.button {
    display: inline-block;
    padding: 12px 22px;
    background: #3d2b22;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}


/* FOTO HOME */

.home-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;

    border-radius: 50%;
}


/* PROFILE */

.profile {
    padding: 70px 10%;
}

.profile h1 {
    text-align: center;
    font-size:
}